body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  font-size: 200%;
  background-color: cadetblue;
}

header{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
  display: inline-block;
  text-align: center;
  width: 27%;
  height: 100px;
  line-height: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:larger
}

footer{

  background-color: darkcyan;
}